.badge-center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 30rpx 0 35rpx 0;
    
}
.badge-grey {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */  
    filter: grayscale(1); /* W3C */
}