
.avatar-panel{
  width: 100vw;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__avatar{
    margin:0 auto;
  }
}

.at-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}