.badge-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge-grey {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */  
    filter: grayscale(1); /* W3C */
}
.at-grid-item__content-inner .content-inner__text {
    margin-top: 20rpx;
    font-size: 28rpx;
    -webkit-line-clamp: 1;
    max-width:170rpx;
}
.at-grid-item {
    overflow: hidden;
}